# ------------------------------
# Symfony Framework Bundle
# ------------------------------
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
# ------------------------------


# ------------------------------
# Symfony PHP Unit-Bridge
# ------------------------------
.phpunit
.phpunit.result.cache
/phpunit.xml
# ------------------------------


# ------------------------------
# Symfony Webpack Encore Bundle
# ------------------------------
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
# ------------------------------
